body {
    background-color: #9abedf;
    background-position: center;
    background-attachment: fixed;
    font-family: "Vulf Mono Italic", serif;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: contain;
}

a {
    color: rgba(255, 255, 255);
    text-decoration: none;
    transition: .5s;
}

.navbar:hover {
    color: rgba(255, 255, 255, .6);
    transition: .2s;
}

#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 35px;
    font-size: 20px;
}

.headerlogo {
    width: 15%;
    height: 15%;
    max-width: 30%;
    max-height: 30%;
    float: top;
}

#navcontainer {
    width: 100%;
    margin-bottom: 30px;
}

.location:hover {
    color: rgba(255, 255, 255, .6);
    transition: .2s;
}

.videolink:hover {
    color: rgba(255, 255, 255, .6);
    transition: .2s;
}

.merchitem:hover {
    color: rgba(255, 255, 255, .6);
    transition: .2s;
}

.pagehead {
    padding: 12px;
    background: rgba(184, 220, 253, 0.25);
}

.headername {
    text-align: center;
    justify-content: space-between;
    width: 33%;
}

.albumtitle {
    line-height: 0.8em;
}

.listborder {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
    list-style-type: none;
}

.tourdate {
    font-weight: bold;
}

.tourlistright {
    text-align: right;
}

.location {
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    font-family: roboto, sans-serif;
    font-color: white;
}

.location:hover {
    background-color: rgba(50, 50, 50, 0.75);
    color: white;
}

.pagepadding {
    padding: 10px;
    margin: 10px;
}

.lists  {
    width: 100%;
}

.aboutp {
    width: 50%;
    font-size: 1em;
}

.socialmediacontainer li {
    display: inline;
    text-decoration: none;
    padding-left: 0px;
    padding-right: 10px;
}

.icon {
    height: 50px;
    width: 50px;
    margin: auto;
}

img {
    max-width: 100%;   
}

/*
.bodycontainer {
    background: rgba(184, 220, 253, 0.25);
}
*/

#top, #bottom, #left, #right {
    background: #ffffff;
    position: fixed;
}
#left, #right {
    top: 0; bottom: 0;
    width: 15px;
 }
    #left { left: 0; }
    #right { right: 0; }
        
#top, #bottom {
    left: 0; right: 0;
    height: 15px;
}
    #top { top: 0; }
    #bottom { bottom: 0; }

#disco {

}

#compressor {
    
}

.footer {
    border-top: 1px solid black;
    font-size: 0.85em;
}

@font-face {
    font-family: 'Vulf Mono Italic';
    src:    url('Vulf_Mono-Italic_web.woff');
    font-weight: 400;
    font-style: normal;
    }
