body {
    background-color: #9abedf;
    background-position: center;
    background-attachment: fixed;
    font-family: "Vulf Mono Italic";
    overflow-x: hidden;
}

.page {
        background-image: url(images/band.png);
        background-repeat: no-repeat;
        background-size: contain;
}

#name h1 {
    /*border-radius: 25px;
    background-color: rgba(200, 200, 200, 0.45);*/
    margin: auto;
    display: block;
    font-size: 500%;
    color: rgba(0, 0, 0, 0.75);
    left: 0px;
    line-height: 72px;
    top: 8%;
    position: fixed;
    width: 100%;
    text-align: center;
    text-size-adjust: 100%;
    overflow-wrap: normal;
}

a {
    color: rgba(255, 255, 255, 0.90);
    text-decoration: none;
}

.navbar:hover {
    text-decoration: underline;
}

.navlist {
    text-align: center;

}

#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 35px;
    font-size: 20px;

}

#navcontainer {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.location:hover {
    text-decoration: underline;
}

.videolink:hover {
    text-decoration: underline;
}

.albumtitle {
    line-height: 0.8em;
}

.band {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 90%;
    border: thick rgba(255, 255, 255, 0.8) solid;
    float: center;
    position:relative;
}
.lists  {
    width: 150px;
}

.table {
    display: table;
    border-spacing: 10px;
    vertical-align: top;
}

.tablerow {
    display: table-row;
    width: 33%;
}

.tablecell {
    display: table-cell;
    padding: 15px;
    text-align: center;
}

.tablecolumn {
    display: table-column;
    
}

@font-face {
    font-family: 'Vulf Mono Italic';
    src:    url('Vulf_Mono-Italic_web.woff');
    font-weight: 400;
    font-style: normal;
    }